@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}


@import "tailwindcss";

@theme {
  --font-mont : "Montserrat", sans-serif;
}

.mont-500{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.button-category{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  @media (max-width : 600px) {
    font-size: 10px;
  }
}

.button-category.active{
  color: #FF7E42;
  border : 1px solid #FF7E42;
  border-radius: 20px;
  transition: all;
  transition-duration: 200ms;
}

.category-head{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  @media (max-width : 640px) {
    font-size: 16px;
  }
}

.category-desc{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: rgb(191, 191, 191);
  font-weight: 300;
  @media (max-width : 640px) {
    font-size: 12px;
  }
}

.get-started{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FF7E42;
  @media (max-width : 640px) {
    font-size: 12px;
  }
}

.footer-head{
  color: #FF7E42;
  font-weight: 500;
  font-size: 18px;
}

.footer-text{
  cursor: pointer;
  font-size: 12px;
}

.footer-text:hover{
  color: #FF7E42;
  text-decoration: underline;
  transition: all;
  transition-duration: 400ms;
}

.join-item{
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #0F131E;
  padding: 10px 20px;
  border-radius: 10px;
  @media (max-width : 640px) {
    padding: 5px 10px;
  }
}

.join-item-num{
  font-size: 20px;
  font-weight: 600;
  @media (max-width : 640px) {
    font-size: 15px;
  }
}

.join-item-desc{
  font-size: 14px;
  @media (max-width : 640px) {
    font-size: 10px;
  }
}